// Place all the styles related to the assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {
  background-color: yellow + 200;
  padding: 40px;

  .body {
    font-size: 1.5em;
    font-family: 'Crimson Text', serif;
  }
}

.title {
  font-family: 'Crimson Text', serif;
  font-style: oblique;
  font-weight: bold;
  border-bottom: 2px rgba(0,0,0,0.2) solid;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

